<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Learning Website</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul class="navlist">
            <li><a href="/home">Home</a></li>
            <li><a href="/About">About</a></li>
            <li><a href="/Services">Contact</a></li>
            <li><a href="/Login">Log in</a></li>
        </ul>
        <div class="rightnav">
            <input type="text" name="name" id="#search" placeholder="Enter Your Name">
            <button class="btn">Search</button>
        </div>
    </nav>

    <section id="Middlesection">
        <img src="../css/che.png" alt="">
        <h1 id="heading">Welcome To Chetan Naik Tutorial</h1>
    </section>

    <section id="template">
        <h2 id="head">C Course</h2>
        <p id="para">1.  Consists of a set of predefined rules.  These rules form the syntax of that language.  Hence learning a programming language is nothing but learning of that language.
            2.  Computer can understand only instructions written in binary code ( 0 and 1), They do not directly read or understand a any programming language. And so a programming language is converted into binary code by using a special program called compiler.  A program which translates instructions written in a programming language into binary code is called a compiler.  When we write a program in C Language, what we write is called Source Code.  The compiler’s output is called executable code.
            3.  C is a programming language developed at AT&T Bell laboratories around 1972.  It was designed and written by Dennis M. Ritchie.  C was standardized in 1989 by American National Standard Institute (ANSI). So it came to be known as ANSI C.  C is a structured language. It breaks up a program into small parts known as functions.
            4.  Flow chart use to define flow of any program. symbolic representation of program. use different symbols.
            5.  Rectangle  Parallelogram  Diamond  Lines  oval
            6.  Use to define process in program
            7.  Use to define input and output in program
            8.  Use to specify condition in program
            9.  To show flow of the program
            10.  Use to declare start and end of flow chart and connect flow chart with other flow chart pages also.
            11. start end Input outputoutput conditionProcess if true Process if false
            12. start end Insert value of i Print value of I is less than five Print value of I is greater than five If(i<5) Declare variable I as integer
            13. Documentation Symbolic Constant Definition File Include Section Global Variable Declaration Main() { Declaration Executable Statements } Function 1 Function 2 Function n…. starting Section Compulsory section for all C Programs User Defined Functions
            14.  Compile is one type of program to convert source code into machine level code,  Compiler compile the code of block and return the error and warning list.
            15.  #include <stdio.h>  #include <conio.h>  void main() { printf(“My first program”); getch(); }
            16.  #include <stdio.h>  #include <conio.h> # : is pre possessive directive. use to include header files before start the program.
            17.  Header file is collection of pre define functions.  Extension of header file is must “.h”.  Header files are located in “INCLUDE” folder of “TC”.
            18.  void main() { main() c compile founds main() to start execution of program. must declare main function in every program.
            19.  {  braces use to define starting of coding block.
            20.  printf(“My First program”);  printf() : use to print any formatted string in output window of Turbo c. header file : stdio.h ( standard input output )
            21.  getch();  }  getch() use to get 1 character from keyboard. } define end of coding block.</p>
    </section>

    <section id="template">
        <h2 id="head">Java Course</h2>
        <p id="para">1.  Consists of a set of predefined rules.  These rules form the syntax of that language.  Hence learning a programming language is nothing but learning of that language.
            2.  Computer can understand only instructions written in binary code ( 0 and 1), They do not directly read or understand a any programming language. And so a programming language is converted into binary code by using a special program called compiler.  A program which translates instructions written in a programming language into binary code is called a compiler.  When we write a program in C Language, what we write is called Source Code.  The compiler’s output is called executable code.
            3.  C is a programming language developed at AT&T Bell laboratories around 1972.  It was designed and written by Dennis M. Ritchie.  C was standardized in 1989 by American National Standard Institute (ANSI). So it came to be known as ANSI C.  C is a structured language. It breaks up a program into small parts known as functions.
            4.  Flow chart use to define flow of any program. symbolic representation of program. use different symbols.
            5.  Rectangle  Parallelogram  Diamond  Lines  oval
            6.  Use to define process in program
            7.  Use to define input and output in program
            8.  Use to specify condition in program
            9.  To show flow of the program
            10.  Use to declare start and end of flow chart and connect flow chart with other flow chart pages also.
            11. start end Input outputoutput conditionProcess if true Process if false
            12. start end Insert value of i Print value of I is less than five Print value of I is greater than five If(i<5) Declare variable I as integer
            13. Documentation Symbolic Constant Definition File Include Section Global Variable Declaration Main() { Declaration Executable Statements } Function 1 Function 2 Function n…. starting Section Compulsory section for all C Programs User Defined Functions
            14.  Compile is one type of program to convert source code into machine level code,  Compiler compile the code of block and return the error and warning list.
            15.  #include <stdio.h>  #include <conio.h>  void main() { printf(“My first program”); getch(); }
            16.  #include <stdio.h>  #include <conio.h> # : is pre possessive directive. use to include header files before start the program.
            17.  Header file is collection of pre define functions.  Extension of header file is must “.h”.  Header files are located in “INCLUDE” folder of “TC”.
            18.  void main() { main() c compile founds main() to start execution of program. must declare main function in every program.
            19.  {  braces use to define starting of coding block.
            20.  printf(“My First program”);  printf() : use to print any formatted string in output window of Turbo c. header file : stdio.h ( standard input output )
            21.  getch();  }  getch() use to get 1 character from keyboard. } define end of coding block.</p>
    </section>
    

    <section id="footer">
        <p id="para">Copyright All Rights Reserved ||| WWW.CHETANNAIK.com</p>
    </section>
</body>
<script src="../css/index.js"></script>
</html>